* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style: none;
}

body {
  max-width: 1900px;
  margin: 0 auto;
}

header {
  padding: 20px;
  width: 100%;
  height: 400px;
  background-color: #129799;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.lista-inicio {
  max-width: 1900px;
  padding: 10px;
  background-color: #129799;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 4px 7px 0px rgba(255, 255, 255, 0.3);
  z-index: 9999999;
}

.lista-inicio li {
  font-size: 1.3rem;
  cursor: pointer;
}
.lista-inicio li:hover {
  color: blue;
}

.caixa {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

.img-life {
  width: 580px;
}

.listas {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.listas li {
  font-size: 1.3rem;
}

main {
  background-color: #ffa185;
}

.container {
  padding: 55px;
}

.container h2 {
  text-transform: uppercase;
}

.container p {
  width: 843px;
  margin-top: 20px;
  color: black;
  font-size: 1.4rem;
}

.container-figure {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.container-figure-2 {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.img-art {
  width: 580px;
  height: 280px;
  object-fit: cover;
  transition: 2s all;
}

.fig {
  position: relative;
}

figcaption {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  background-color: green;
}

/* Aqui começa o @media */

@media (max-width: 1220px) {
  .img-art {
    transform: scale(0.85);
  }
}

@media (max-width: 1170px) {
  .sec-img {
    width: 100%;
  }

  .fig {
    width: 90%;
  }

  .img-art {
    width: 100%;
  }
}

@media (max-width: 1094px) {
  .lista-inicio {
    width: 100%;
  }

  header {
    height: 600px;
  }

  .img-life {
    width: 100%;
  }

  .caixa {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }

  h1 {
    position: relative;
    top: -50px;
  }

  .listas {
    width: 600px;
  }
}

@media (max-width: 900px) {
  .container p {
    width: 100%;
  }

  .fig {
    width: 100%;
  }

  .img-art {
    height: 500px;
  }

  .container-figure {
    flex-direction: column;
  }

  .container-figure-2 {
    flex-direction: column;
  }
}

@media (max-width: 610px) {
  .listas {
    width: 90%;
  }

  .lista-inicio {
    width: 100%;
  }

  h1 {
    top: 0px;
    text-align: center;
    font-size: 2.5rem;
  }
}
